<p>Текст задания</p>
Написать программу, определяющую, сколько из чисел в диапазоне <br>
от 0 до n (n вводится с клавиатуры), сами являясь палиндромами, при <br>
возведении в квадрат, образуют палиндромы. Например: 22<sup>2</sup> → 484 . Вы- <br>
вести на печать числа, квадраты и их количество. <br>

<form action="<%= index_output_url %> ">
  <input name="input_value" value="10">
  <input type="submit">
</form>